<template name="topmenu">
  <div class="ui secondary  menu">
    <a href="/" class="active item">
      en vogue
    </a>
    <a href="/faq" class="item">
      nouveau
    </a>
    <a class="item">
      chaud
    </a>
    <a class="item">
      promu
    </a>

    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Chercher un steemian...">
          <i class="search link icon"></i>
        </div>
      </div>

      <a id="menu" class="ui item"> 
         Dashboard {{toAmount '54.52955'}} 
      </a>
    </div>
  </div>
</template>
