<template name="topmenu">
  <div class="ui primary menu">
    <!-- <a href="/" class="active item">
      Accueil
    </a>
    <a href="/faq" class="item">
      Evenements
    </a>
    <a class="item">
      Récurrences
    </a>
    <a class="item">
      Contact
    </a> -->
    <div class="item">
      <div class="ui icon input">
        <input id="search" type="text" placeholder="Rechercher">
        <i class="search link icon"></i>
      </div>
    </div>

    <div class="right menu">
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          Langue
          <i class="dropdown icon"></i>
          <div class="menu">

            <div class="item">
              <i class="fr flag"></i>
              Français
            </div>
            <div class="item">
              <i class="us flag"></i>
              English
            </div>
            <div class="item">
              <i class="de flag"></i>
              Deutsch
            </div>
          </div>
        </div>
      </div>



      <a id="notification" class="item">
        <i class="bell icon"></i>
      </a>
      <a id="menu" class="ui item">
        <i class="bars icon"></i>
      </a>
    </div>
  </div>

  <div class="ui secondary  menu">

    <a href="/" class="active item">
      en vogue
    </a>
    <a href="/" class="item">
      nouveau
    </a>
    <a href="/" class="item">
      chaud
    </a>
    <a class="item">
      promu
    </a>
  </div>
</template>
