<template name="modal">
        <div class="ui modal">
          <a class="item">
            lol
          </a>
          <a class="item">
            FAQ
          </a>
          <a class="item">
            Explorer
          </a>
          <a class="item">
            Marché des devises
          </a>
          <a class="item">
            Advertise
          </a>
          <a class="item">
            Media Kit
          </a>
          <a class="item">
            Récupération des comptes dérobés
          </a>
        </div>
      </template>